<%- include('../partials/header') %>
<body>
<h2>All Fruits</h2>
<a href="/fruits/new"> Create New Fruit</a>
  <ul>
    <% fruits.forEach((fruit) => {%>
      <li><a href="/fruits/<%= fruit.id %>"><%= fruit.name %></a></li>
    <% }) %>
  </ul>
</body>

<%- include('../partials/footer') %>